<div class="container bg-black">

<h2 class="rules-headline">Idee</h2>
<p>
Mit mateBet kannst du im direkten Duell gegen einen Mitstreiter dein Fussballwissen
unter Beweis stellen.
</p>
<p>
Als Herausforderer bestimmst du welche Ligen/Wettbewerbe und welche Spiele Teil
 eurer Wette sein sollen.
</p>
<h2 class="rules-headline">Wetteinsatz</h2>
<p>
Auch der Wetteinsatz liegt in deiner Hand. Hier stehen folgende M&ouml;glichkeiten zur Verf&uuml;gung:
<ul class="a">
<li>1 Euro.
<li>5 Euro.
<li>1 Cola.
<li>1 Bier (*).
<li>3 Bier (*).
<li>1 Kiste Bier (*).
<li>1 Shot (**).
<li>1 Cocktail (**).
<li>1 Essen.
<li>1 Eis.
<li>1 Abend Butler.
<li>1 Ohrschnipser.
<li>Die Ehre.
</ul>
<small>
(*) sofern beide Wettparteien mindestens 16 sind<br/>
(**) sofern beide Wettparteien mindestens 18 sind<br/>
</small>
</p>

<p>
mateBet basiert auf dem Prinzip "Wettschulden sind Ehrenschulden".
Die Herausgeber &uuml;bernehmen keine Haftung f&uuml;r nicht eingel&ouml;ste Wetteins&auml;tze.
 Der Umgang mit abgeschlossenen Wetten liegt allein in der Verantwortung der beiden Teilnehmer.
  Du solltest also darauf achten, nur mit Freunden zu wetten,
   die du kennst und denen du vertraust.
</p>

<h2 class="rules-headline">Auswertung</h2>
<p>
Die Auswertung einer Wette erfolgt Spiel f&uuml;r Spiel.</p>

<p> Pro Partie gibt es 0 bis 3 Punkte.
<ul class="a">
<li>0 Punkte: Falsche Tendenz oder nicht getippte Spiele.
<li>1 Punkt: Richtige Tendenz mit falscher Tordifferenz.
<li>2 Punkte: Richtige Tendenz mit richtiger Tordifferenz aber falschem Ergebnis.
<li>3 Punkte: Richtiges Ergebnis.
</ul>

<br/>
<p>F&uuml;r die Berechnung werden sowohl im Ligasystem, als auch in
Pokalwettbewerben stets die Ergebnisse nach 90 Minuten herangezogen.</p>

<h3>Beispiel 1</h3>

<pre>
Endstand Team A - Team B 1:0.
Dein Tipp: 1:1 --> 0 Punkte.
Dein Tipp: 3:1 --> 1 Punkt.
Dein Tipp: 2:1 --> 2 Punkte.
Dein Tipp: 1:0 --> 3 Punkte.
</pre>
	
<h3>Beispiel 2</h3>
<pre>
Endstand Team A - Team B 2:2.
Dein Tipp: 2:1 --> 0 Punkte.
Dein Tipp: 1:1 --> 2 Punkte.
Dein Tipp: 2:2 --> 3 Punkte.
</pre>

<br/>
<p>
&uuml;ber laufende Wetten, Zwischenst&auml;nde und Tipps deines Mitstreiters kannst du dich im Hauptmen&uuml; unter 'Offene Wetten' informieren.
</p>

<h2 class="rules-headline">Spielende</h2>
<p>
Nach Abpfiff der Spiele deiner Wette werden diese ausgewertet und die Punkte addiert.
 &uuml;ber den Ausgang der Wette erh&auml;lst du eine Benachrichtigung 
 und kannst dann hoffentlich deinen Gewinn abstauben ;).
</p>
<p>Vergangene Duelle findest du zus&auml;tzlich im Hauptmen&uuml; unter 'Abgeschlossene Wetten'.
</p>

<p>
Viel Spa&szlig; mit unserer App!
</p>
</br>
</div>
